## Attributes - [Series](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.html) [DataFrame](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.html)
#### Import package

In [1]:
import pandas as pd

In [2]:
height = pd.Series({'Jason': 168.2, 'Zoe': 165.5, 'Jeffrey': 173.1, 'Lynn': 170.4})
weight = pd.Series({'Jason': 67.8, 'Zoe': 52.1, 'Jeffrey': 70.5, 'Lynn': 65.2})
data = pd.DataFrame({'height': height, 'weight': weight}, index=['Zoe', 'Lynn', 'Jeffrey', 'Jason'])

#### Transpose
`T`

In [3]:
data.T

          Zoe   Lynn  Jeffrey  Jason
height  165.5  170.4    173.1  168.2
weight   52.1   65.2     70.5   67.8

#### Return labels of columns and rows
`axes`

In [4]:
height.axes

[Index(['Jason', 'Jeffrey', 'Lynn', 'Zoe'], dtype='object')]

In [5]:
data.axes

[Index(['Zoe', 'Lynn', 'Jeffrey', 'Jason'], dtype='object'),
 Index(['height', 'weight'], dtype='object')]

#### Return labels of columns
`columns`

In [6]:
data.columns

Index(['height', 'weight'], dtype='object')

#### Return labels of rows
`index`

In [7]:
data.index

Index(['Zoe', 'Lynn', 'Jeffrey', 'Jason'], dtype='object')

#### Return the number of dimensions
`ndim`

In [8]:
data.ndim

2

#### Return the dimensionality
`shape`

In [9]:
data.shape

(4, 2)

#### Return the number of elements
`size`

In [10]:
height.size

4

In [11]:
data.size

8

#### Return a Numpy representation
`values`

In [12]:
height.values

array([ 168.2,  173.1,  170.4,  165.5])

In [13]:
data.values

array([[ 165.5,   52.1],
       [ 170.4,   65.2],
       [ 173.1,   70.5],
       [ 168.2,   67.8]])

#### Return the data types 
`dtypes`

In [14]:
height.dtypes

dtype('float64')

In [15]:
data.dtypes

height    float64
weight    float64
dtype: object

#### Check if the data contains NaN in the Series
`hasnans`

In [16]:
height.hasnans

False

#### Return the memory used for each elements in the Series
`itemsize`

In [17]:
height.itemsize

8