## Construction
#### Import package

In [1]:
import numpy as np
import pandas as pd

#### Series
`pd.Series(array, index, dtype)`

In [2]:
pd.Series([1, 2, 3, 4], [3, 2, 1, 0], np.float)

3    1.0
2    2.0
1    3.0
0    4.0
dtype: float64

`pd.Series(dict, index, dtype)`

In [3]:
pd.Series({'3': 1, '2': 2, '1': 3, '0': 4})

0    4
1    3
2    2
3    1
dtype: int64

#### Dataframe
`pd.Dataframe(Series_dict, index, columns, dtype)`

In [4]:
height = pd.Series({'Jason': 168.2, 'Zoe': 165.5, 'Jeffrey': 173.1, 'Lynn': 170.4})
weight = pd.Series({'Jason': 67.8, 'Zoe': 52.1, 'Jeffrey': 70.5, 'Lynn': 65.2})
pd.DataFrame({'height': height, 'weight': weight}, index=['Zoe', 'Lynn', 'Jeffrey', 'Jason'], dtype=np.float)

         height  weight
Zoe       165.5    52.1
Lynn      170.4    65.2
Jeffrey   173.1    70.5
Jason     168.2    67.8

`pd.Dataframe(array, index, columns, dtype)`

In [5]:
pd.DataFrame(np.array([[165, 52.1], [170.4, 65.2], [173.1, 70.5], [168.2, 678]]), columns=['height', 'weight'],
             index=['Zoe', 'Lynn', 'Jeffrey', 'Jason'], dtype=np.float)

         height  weight
Zoe       165.0    52.1
Lynn      170.4    65.2
Jeffrey   173.1    70.5
Jason     168.2   678.0

#### Index
`pd.Index(array, dtype)`

In [6]:
pd.Index([1, 2, 3, 4, 5])

Int64Index([1, 2, 3, 4, 5], dtype='int64')

In [7]:
pd.Index(['a', 'b', 'c'])

Index(['a', 'b', 'c'], dtype='object')