## Hierarchical Index
#### Import package

In [1]:
import numpy as np
import pandas as pd

#### Create Series using tuple index
`pd.Series(data, index_tuple)`

In [2]:
index = [('Math', 2018), ('Math', 2019), ('English', 2018), ('English', 2019), ('Biology', 2018), ('Biology', 2019)]
students = [30, 28, 45, 49, 27, 24]
data = pd.Series(students, index=index)
data

(Math, 2018)       30
(Math, 2019)       28
(English, 2018)    45
(English, 2019)    49
(Biology, 2018)    27
(Biology, 2019)    24
dtype: int64

#### Reindex with hierarchical indexing
`series.reindex(MultiIndex)`

In [3]:
index = pd.MultiIndex.from_tuples(index)
data = data.reindex(index)
data

Math     2018    30
         2019    28
English  2018    45
         2019    49
Biology  2018    27
         2019    24
dtype: int64

#### Another ways to construct MultiIndex object
`pd.MultiIndex(levels=levels_list, labels=labels_list)`

In [4]:
pd.MultiIndex(levels=[['Math', 'English', 'Biology'], [2018, 2019]],
              labels=[[0, 0, 1, 1, 2, 2], [0, 1, 0, 1, 0, 1]])

MultiIndex(levels=[['Math', 'English', 'Biology'], [2018, 2019]],
           labels=[[0, 0, 1, 1, 2, 2], [0, 1, 0, 1, 0, 1]])

`pd.MultiIndex.from_arrays(index_array)`

In [5]:
pd.MultiIndex.from_arrays([['Math', 'Math', 'English', 'English', 'Biology', 'Biology'], 
                           [2018, 2019, 2018, 2019, 2018, 2019]])

MultiIndex(levels=[['Biology', 'English', 'Math'], [2018, 2019]],
           labels=[[2, 2, 1, 1, 0, 0], [0, 1, 0, 1, 0, 1]])

#### Another way to construct Series with hierarchical index
`pd.Series(data_dict)`

In [6]:
pd.Series({('Math', 2018): 30, 
           ('Math', 2019): 28, 
           ('English', 2018): 45, 
           ('English', 2019): 49, 
           ('Biology', 2018): 27, 
           ('Biology', 2019): 24})

Biology  2018    27
         2019    24
English  2018    45
         2019    49
Math     2018    30
         2019    28
dtype: int64

#### Access data through hierarchical indexing
`data[index_A, index_B]`

In [7]:
data[:, 2018]

Math       30
English    45
Biology    27
dtype: int64

In [8]:
data['Biology', :]

2018    27
2019    24
dtype: int64

#### Convert Series with hierarchical index to DataFrame
`series.unstack()`

In [9]:
data_df = data.unstack()
data_df

         2018  2019
Biology    27    24
English    45    49
Math       30    28

#### Convert DataFrame to Series with hierarchical index
`df.stack()`

In [10]:
data = data_df.stack()
data

Biology  2018    27
         2019    24
English  2018    45
         2019    49
Math     2018    30
         2019    28
dtype: int64

#### Construct DataFrame with hierarchical index
`pd.DataFrame(data, index=index_list)`

In [11]:
pd.DataFrame([30, 28, 45, 49, 27, 24], 
             index=[['Math', 'Math', 'English', 'English', 'Biology', 'Biology'], 
                    [2018, 2019, 2018, 2019, 2018, 2019]],
             columns=['students'])

              students
Math    2018        30
        2019        28
English 2018        45
        2019        49
Biology 2018        27
        2019        24

#### Hierarchical index in DataFrame columns
`pd.DataFrame(data, columns=index_list)`

In [12]:
students = pd.DataFrame(np.array([12, 11, 10, 13, 14, 12, 11, 18, 12, 19, 10, 12, 11, 19, 14, 15]).reshape(4, 4), 
                        index=[['Math', 'Math', 'English', 'English'], 
                               [2018, 2019, 2018, 2019]],
                        columns=[['Asian', 'Asian', 'European', 'European'], ['Male', 'Female', 'Male', 'Female']])
students

             Asian        European
              Male Female     Male Female
Math    2018    12     11       10     13
        2019    14     12       11     18
English 2018    12     19       10     12
        2019    11     19       14     15

#### Access DataFrame with hierarchical index
`df[index]`

In [13]:
students['Asian', 'Female']

Math     2018    11
         2019    12
English  2018    19
         2019    19
Name: (Asian, Female), dtype: int64

In [14]:
students.iloc[:, 1]

Math     2018    11
         2019    12
English  2018    19
         2019    19
Name: (Asian, Female), dtype: int64