## Index
#### Import package

In [1]:
import numpy as np
import pandas as pd

#### Access elements in the Series using basic index
`x[index]`

In [2]:
data = pd.Series([1, 2, 3, 4], index=[0, 1, 2, 3])
data[2]

3

In [3]:
data[0:3]

0    1
1    2
2    3
dtype: int64

In [4]:
data = pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])
data['c']

3

In [5]:
data['a':'c']

a    1
b    2
c    3
dtype: int64

#### Access elements in the Series using Fancy Index
`x[index_array]`

In [6]:
data[[0, 2]]

a    1
c    3
dtype: int64

In [7]:
data[['a', 'c']]

a    1
c    3
dtype: int64

#### Access elements in the Series using Indexer
`data.loc[index]`<br>
<b>warning</b>: the indexer _loc_ will always select the elements based on the index

In [8]:
data = pd.Series([1, 2, 3, 4], index=[1, 3, 5, 7])
data.loc[1:3]

1    1
3    2
dtype: int64

`data.iloc[index]`<br>
<b>warning</b>: the indexer _iloc_ will always select elements based on the order of the elements instead of their index

In [9]:
data.iloc[1:3]

3    2
5    3
dtype: int64

#### Access columns in DataFrame using basic index
`x[columns]`

In [10]:
height = pd.Series({'Jason': 168.2, 'Zoe': 165.5, 'Jeffrey': 173.1, 'Lynn': 170.4})
weight = pd.Series({'Jason': 67.8, 'Zoe': 52.1, 'Jeffrey': 70.5, 'Lynn': 65.2})
gender = pd.Series({'Jason': 'M', 'Zoe': 'F', 'Jeffrey': 'M', 'Lynn': 'F'})
data = pd.DataFrame({'height': height, 'weight': weight, 'gender': gender}, 
                    index=['Zoe', 'Lynn', 'Jeffrey', 'Jason'])

In [11]:
data['height']

Zoe        165.5
Lynn       170.4
Jeffrey    173.1
Jason      168.2
Name: height, dtype: float64

`x.columns`

In [12]:
data.height

Zoe        165.5
Lynn       170.4
Jeffrey    173.1
Jason      168.2
Name: height, dtype: float64

#### Access rows in DataFrame using splice index
`x[rows]`<br>
<b>warning</b>: the index must be splice or condition in order to acces the rows in DataFrame

In [13]:
data[0:3]

        gender  height  weight
Zoe          F   165.5    52.1
Lynn         F   170.4    65.2
Jeffrey      M   173.1    70.5

In [14]:
data[data.weight > 65]

        gender  height  weight
Lynn         F   170.4    65.2
Jeffrey      M   173.1    70.5
Jason        M   168.2    67.8

#### Access elements in the DataFrame using Indexer
`data.loc[row, columns]`<br>
<b>warning</b>: the indexer _loc_ will always select the elements based on the index

In [15]:
data.loc['Zoe':'Lynn', 'height':'weight']

      height  weight
Zoe    165.5    52.1
Lynn   170.4    65.2

#### Access elements in the DataFrame using Indexer
`data.iloc[row, columns]`<br>
<b>warning</b>: the indexer _iloc_ will always select elements based on the order of the elements instead of their index

In [16]:
data.iloc[0:2, 1:3]

      height  weight
Zoe    165.5    52.1
Lynn   170.4    65.2