## Missing Value
#### Import package

In [1]:
import numpy as np
import pandas as pd

In [2]:
x = pd.Series([1, np.nan, 2, None, 3])
y = pd.DataFrame([[1, np.nan, 2],
                  [3, 4, 5],
                  [np.nan, 6, 7]])

#### Check missing value
`x.isnull()`

In [3]:
x.isnull()

0    False
1     True
2    False
3     True
4    False
dtype: bool

`x.notnull()`

In [4]:
x.notnull()

0     True
1    False
2     True
3    False
4     True
dtype: bool

#### Remove missing value
`x.dropna(axis)`

In [5]:
x.dropna()

0    1.0
2    2.0
4    3.0
dtype: float64

In [6]:
y.dropna(axis=0)

     0    1  2
1  3.0  4.0  5

In [7]:
y.dropna(axis=1)

   2
0  2
1  5
2  7

#### Fill missing value
`x.fillna(value)`

In [8]:
x.fillna(0)

0    1.0
1    0.0
2    2.0
3    0.0
4    3.0
dtype: float64

In [9]:
x.fillna(method='ffill')

0    1.0
1    1.0
2    2.0
3    2.0
4    3.0
dtype: float64

In [10]:
x.fillna(method='bfill')

0    1.0
1    2.0
2    2.0
3    3.0
4    3.0
dtype: float64

In [11]:
y.fillna(method='ffill')

     0    1  2
0  1.0  NaN  2
1  3.0  4.0  5
2  3.0  6.0  7

In [12]:
y.fillna(method='bfill', axis=1)

     0    1    2
0  1.0  2.0  2.0
1  3.0  4.0  5.0
2  6.0  6.0  7.0